<div class="loader" *ngIf="isLoading">
  <app-loader></app-loader>
</div>
<form class="search">
  <label for="category" class="">Category:</label>
  <select
    name="category"
    (change)="onCahnge($event)"
    class="form-select"
    id="category"
  >
    <option *ngFor="let cat of categories" [value]="cat">
      {{ cat }}
    </option>
  </select>
</form>
<div *ngIf="!isLoading">
  <div class="card-container">
    <product *ngFor="let product of products" [data]="product"></product>
  </div>
</div>
