.search {
  & {
    width: 40%;
    max-width: 100%;
    margin: 20px auto 40px;
  }
  label {
    color: #183153;
    font-size: 15px;
    margin-bottom: 5px;
  }
}
.card-container {
  & {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
  }
  .card {
    & {
      padding: 10px;
      background-color: #f0f1f3;
      box-shadow: 0 1px 4px rgba($color: #000000, $alpha: 0.4);
      transition: 0.5s;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
    &:hover {
      transform: translateY(-10px);
    }
    .image {
      & {
        height: 250px;
        border-radius: 5px;
        overflow: hidden;
      }
    }
    .name {
      display: block;
      width: 100%;
      padding: 10px 0;
      margin: 10px 0;
      font-size: 18px;
      font-weight: 600;
      color: #183153;
      text-align: center;
      border-bottom: 1px solid #b9b9b9;
    }
    .rate {
      & {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;
      }
      
      span {
        color: #183153;
        font-weight: 600;
        font-size: 16px;
      }
    }
    .pricing {
      & {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;
      }
      span {
        color: #183153;
        font-weight: 600;
        font-size: 17px;
      }
      button {
        & {
          background-color: #ffd43b;
          color: #183153;
          font-size: 15px;
          box-shadow: 0 1px 3px rgba($color: #000000, $alpha: 0.3);
          transition: 0.5s;
        }
        &:hover {
          transform: translateY(-2px);
        }
      }
    }
  }
}
