<div class="search">
  <label for="category" class="">Category:</label>
  <select name="category" class="form-control" id="category">
    <option value="1">Option 1</option>
    <option value="2">Option 2</option>
    <option value="3">Option 3</option>
    <option value="4">Option 4</option>
    <option value="5">Option 5</option>
  </select>
</div>
<div class="card-container">
  <div class="card">
    <div class="image">
      <img
        src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RW16lN4?ver=46fe&q=90&m=6&h=705&w=1253&b=%23FFFFFFFF&f=jpg&o=f&p=140&aim=true"
        alt=""
      />
    </div>
    <span class="name">Name Of Product</span>
    <div class="rate">
      <span>Item Rate</span>
      <div>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
      </div>
    </div>
    <div class="pricing">
      <span>Price : 555$</span>
      <button class="btn">Add to Cart</button>
    </div>
  </div>
</div>
